* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
  /* color: azure; */
}
.users {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: rgb(1, 0, 22);
}
.user-n {
  width: 220px;
  height: 480px;
  background-color: rgb(1, 20, 44);
  border-radius: 15px;
  text-align: center;
  margin: 20px;
  color: black;
  box-shadow: 10px black salmon;
}

.user-n:hover {
  width: 225px;
  height: 485px;
  transition: 0.3s;
}

.user-n img {
  border-radius: 15px;
  margin: 0 auto;
  width: 100%;
}
.user-n h6 {
  background-color: rgb(1, 20, 44);
  margin: 5px;
  margin-left: 15px;
  font-size: small;
  font-weight: 500;
  text-transform: uppercase;
  color: rgba(240, 248, 255, 0.801);
  text-align: start;
}
.user-n h5 {
  margin-left: 30px;
  background-color: rgb(1, 20, 44);
  margin: 10px;
  font-size: large;
  font-weight: 500;
  text-transform: uppercase;
  text-align: start;
  color: aliceblue;
}
#last {
  margin-bottom: 20px;
}
